body {
    background: #131313;
    color: #e2e2e2;
    padding-top: 5rem;
}
.header {
    padding: 3rem 1.5rem;
    text-align: center;
}
#about, #contact {
    font-size: medium;
}
hr {
    border-color: #3c3f44;
}